.main-scoreboard {
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 35px;
   background: rgba(0, 0, 0, 0.64);
   border-radius: 10px;
   width: 70vw;
   padding: 10px;
   h2 {
      text-shadow: 1px 1px 1px rgb(95, 194, 247);
      text-align: center;
      margin: 0;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      &:after {
         content: '';
         border-bottom: 3px double rgb(55, 180, 230);
      }
   }
   .curr-score, .best-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}