@import "./mixins.scss";

.main-win-container {
   @include endPage();
   @include  backgroundVideo();
   h1 {
      color: rgb(18, 122, 227);
      text-shadow: 
      2px 2px 20px rgba(73, 172, 247, 0.377),
      -2px -2px 20px rgba(73, 172, 247, 0.377),
      2px -2px 20px rgba(73, 172, 247, 0.377),
      -2px 2px 20px rgba(73, 172, 247, 0.377);
      margin-top: 30px;
   }
   p {
      color: white;
      text-shadow: 1px 1px 5px rgb(31, 77, 177);
   }
   button {
      background: linear-gradient(90deg, rgb(64, 151, 222) 0%, rgb(38, 132, 219) 60%, rgb(9, 94, 173) 100%);
      @media screen and (min-width: 700px) {
         &:last-child {
            background: linear-gradient(90deg, rgb(9, 94, 173) 0%, rgb(38, 132, 219) 40%, rgb(64, 151, 222) 100%);
         }
      }
   }
}